<section id="about">
  <div class="section-label reveal">Who I am</div>
  <h2 class="section-title reveal reveal-delay-1">ABOUT <span class="hl">ME</span></h2>

  <div class="about-grid">
    <div class="about-left reveal reveal-delay-2">
      <p class="about-bio" [innerHTML]="data.bio"></p>

      <div class="education-card">
        <div class="edu-degree">{{ data.education.degree }}</div>
        <div class="edu-school">{{ data.education.school }}</div>
        <div class="edu-cgpa">{{ data.education.cgpa }}</div>
        <div class="edu-cgpa-label">CGPA / 10</div>
      </div>
    </div>

    <div class="about-right reveal reveal-delay-3">
      <div class="value-card" *ngFor="let v of data.values">
        <div class="value-title">{{ v.title }}</div>
        <div class="value-desc">{{ v.description }}</div>
      </div>
    </div>
  </div>
</section>
